/Calc2/nbproject/private/
/Calc2/build/
/calculadora/Calc2/build/
/calculadora/Calc2/nbproject/private/
/Calculadora con Base de Datos/Calc2/build/
/Calculadora con Base de Datos/Calc2/nbproject/private/